*{
     scroll-behavior:smooth;
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
}
body{
	margin-bottom: 8rem;
}
 .header{
     min-height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/Images/Jimmmy.jpg);
     background-position: center;
     background-size: cover;
     position:relative;
}
 nav{
     display: flex;
     padding: 2% 6%;
     justify-content: space-between;
     align-items: center;
}
 nav img{
     width :150px;
}
 .nav-links{
     flex:1;
     text-align:right;
}
 .nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
}
 .nav-links ul li a{
     color: #fff;
     text-decoration:none;
     font-size:13px;
}
 .nav-links ul li::after{
     content:'';
     width:0%;
     height: 2px;
     background: #f44336;
     display: block;
     margin: auto;
     transition:0.5s;
}
 .nav-links ul li:hover::after{
     width:100%;
}
 .text-box{
     width:100%;
     color: #fff;
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     text-align: center;
}
 .text-box h1{
     font-size: 62px;
}
 .text-box p{
     margin: 10px 0 40px;
     font-size:14px;
     color: #fff;
}
 .hero-btn{
     display: inline-block;
     text-decoration: none;
     Color: #fff;
     border: 1px solid #fff;
     padding: 12px 34px;
     font-size: 13px;
     background: transparent;
     position: relative;
     cursor: pointer;
}
 .hero-btn:hover{
     border:1px solid #f44336;
     background: #f44336;
     transition: 1s;
}
 nav .fa{
     display: none;
}
 @media(max-width: 700px){
     .text-box h1{
         font-size: 20px;
    }
     nav .fa{
         display: block;
         color: #fff;
    }
     .nav-links ul li{
         display: block;
         color: #fff;
    }
     .nav-links{
         position: absolute;
         background: #f44336;
         height: 100vh;
         width: 200px;
         top:0;
         right: -200px;
         text-align: left;
         z-index: 5;
         transition: 1s;
    }
     nav .fa{
         display: block;
         color: #fff;
         margin: 10px;
         font-size:22px;
         cursor: pointer;
    }
     .nav-links ul{
         padding: 30px;
    }
    /*------ dreams-------*/
}
 .dreams{
     background: #F2E7D5;
     min-height: 70vh;
 
     background-position: center;
     background-size: cover;
     position:relative;
     margin: auto;
     text-align:center;
     padding-top: 100px;
     padding-left: 4rem;
     padding-right:4rem;
     margin-bottom: 5rem;
}
 h1{
     font-size: 36px;
     font-weight: 600;
}
 p{
     color: #000;
     font-size: 14px;
     font-weight: 300;
     line-height: 22px;
     padding: 10px;
     text-align: left;
}
 .text-box p{
     text-align:center;
}
 .row{
     margin-top: 5%;
     display: flex;
     justify-content: space-between;
}
 .dream-col{
     flex-basis: 31%;
     background: #fff3f3;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
}
 h3, a{
     color:black;
     text-decoration:none;
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
}
 .dream-col:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
 .dream-col h3:hover{
     color:green;
}
 .dream-col img{
     height: 100px;
}
 @media(max-width: 700px){
     .row{
         flex-direction: column;
    }
}
/*-----------------explore----*/
 .explore{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 50px;
}
 p{
     text-align: center;
     color: #000;
}
 .explore img{
     width: 100%;
     display: block;
     height: 100%;
     border-radius: 2rem;
}
 .layer{
     background: transparent;
     height: 100%;
     width: 100%;
     position: absolute;
     top:0;
     left:0;
     transition: 0.5s;
     border-radius: 2rem;
}
 .layer:hover{
     background: rgba(226,0,0,0.7);
}
 .mycaption{
     width: 100%;
     font-weight:500;
     color:#fff;
     font-size: 26px;
     bottom: 0;
     left:50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 0;
     transition: 0.5s;
     text-align: center;
}
 .layer:hover .mycaption{
     opacity:1;
     bottom:49%;

}
 .photo-grid-item{
     position:relative;
     margin: 4px;
     max-width: 400px;
     width: 100%;
}
 .mypics{
     column-count: 5;
     column-width: 300px;
}
 .mypics2{
     margin-top: 0px;
}
 .closing-para p{
     text-align: left;
     color: black;
     margin-top: 3rem;
     margin-bottom: 3rem;
}
 .contact{
     background: #2c2c2c;
     width: 100%;
     background-position: center;
     background-size: cover;
     position:relative;
     margin-top: 5rem;
     padding-top: 3rem;
}
 .icons .fa{
     color:#f44336;
     margin:0 13px;
     cursor: pointer;
     padding:18px 0;
}
 .fa-heart-o{
     color: #f44336;
}
 .fa {
     padding: 20px;
     font-size: 30px;
     width: 50px;
     text-align: center;
     text-decoration: none;
}
 .fa:hover {
     opacity: 0.7;
}
 .icons{
     display: flex;
     justify-content: center;
}
 .contact h1{
     text-align:center;
     color: white;
}
 .contact p{
     text-align:center;
     color: #bbb;
}
/*---------------blog------*/

.blog{
     background: #F2E7D5;
     width: 100%;
     background-position: center;
     background-size: cover;
     position:relative;
	 text-align:left;
	 
	 padding-top:1rem;
}
.blog-item{
	display:flex;
	 justify-content:center;
}
h3{
	text-align: left;
	float: center;
	font-size: 20px;
    font-weight: 600;
}
 .blog-item p{
	text-align: left;
	
}

.blog img{
	margin-right:1rem;
		float: left;
}
.blog p{
padding:2px;
}
.blog h1{
     text-align: center;
}
.column{
	 margin-top: 3%;
	 width:90%;
     justify-content: space-between;
     background: #fff3f3;
     border-radius: 5px;
     margin-bottom: 5%;
     padding: 20px 20px;
     box-sizing: border-box;
     transition: 0.5s;
}
.column hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.column{
	 margin-top: 3%;
	 width:90%;
     justify-content: space-between;
     background: #fff3f3;
     border-radius: 5px;
     margin-bottom: 5%;
     padding: 20px 20px;
     box-sizing: border-box;
     transition: 0.5s;
}
.column hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}



.dreams h3, .dreams p{
	text-align:center;
	
}
	